
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.commandcode/

# Environment & secrets
.env
user-session.json

# Allure
/allure-results/
